body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #678;
}

body#success{
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: rgb(37, 128, 219);
  background-color: #333;
}

body#success h1{
  padding-top: 250px;
  text-align: center;
}

body#success a{
  position:relative;
  margin-left: 45vw;
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #678;
  background-color: black;
  letter-spacing: 2px;
  font-size: 16px;
}

body#success a:hover{
  color: white;
}

body#success a span{
  display: block;
  position: absolute;
  background: #8a2387;
}

body#success a span:nth-child(1){
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}

body#success a:hover span:nth-child(1){
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

body#success a span:nth-child(2){
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

body#success a:hover span:nth-child(2){
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
}

body#success a span:nth-child(3){
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}

body#success a:hover span:nth-child(3){
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}

body#success a span:nth-child(4){
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}

body#success a:hover span:nth-child(4){
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}



.container {
  width: 100%;
  height: 100%;
  position: relative;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 1s ease;
  transition: justify-content 1s ease;
  z-index: 1000;
}

.navbar {
  justify-content: space-between;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;

}
.navbar .name{
    display: none;
}
.navbar .name .title{
    display: none;
    font-family: 'Permanent Marker', sans-serif;
    padding: 6px 7px 0px 20px;
    display: inline-block ;
    font-weight: 200;
    font-size: 32px;
    flex-direction: row;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar .name .title1{
    display: none;
    font-family: 'Permanent Marker', sans-serif;
    padding: 6px 7px 0px 0px;
    display: inline-block ;
    font-weight: 200;
    font-size: 32px;
    flex-direction: row;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0 40px;
  width: 100%;
  justify-content: center;
}
.navbar ul li {
  margin: 0rem 1rem;
  padding: 10px 20px;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
  transition: 5s;
}


/*Responsive Rules Header*/

@media screen and (max-width: 768px) {
  .scrolling-active .navbar .title{
    display: none;
  }
  .scrolling-active .navbar .title1{
    display: none;
  }
  .navbar ul li {
    margin: 0rem 0rem;
    padding: 10px 20px;
  }
  
}


/*Scrolling active*/
.scrolling-active {
  background-color: rgb(0, 0, 0);
}

.scrolling-active .navbar .title{
    font-family: 'Permanent Marker', sans-serif;
    justify-content: left;
    color: rgb(255, 255, 255);
}
.scrolling-active .navbar ul {
  justify-content: flex-end;
}

.scrolling-active .navbar ul li a {
  color: rgb(255, 255, 255);
  transition: all 1s ease;
}

.scrolling-active .navbar ul li a:hover {
  box-shadow: 0 5px #ffffff;
  transition: all 0.75s ease;
}

.scrolling-active .navbar .name{
    display: flex;
}

/*scrolling-active done*/

section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

section .contain{
    padding: 50px;
}

section h2{
  font-size: 40px;
  color:rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
}

section#projects{
  background: rgb(0, 0, 0);
}

section#projects h2{
  font-size: 40px;
  font-family: 'Kaushan Script', sans-serif;
  color:rgb(255, 255, 255);
  text-align: right;
  text-transform: uppercase;
  padding-right: 5vw;
}

section#about h2{
  font-size: 40px;
  font-family: 'Kaushan Script', sans-serif;
  color:rgb(0, 0, 0);
  text-align: left;
  text-transform: uppercase;
  padding-left: 10vw; 
}

section#about{
  background: rgb(0, 0, 0);
}
section#about .contain{
  padding-top: 0px;
}

section .cards{
    display: flex;
}

section .cards .text-card{
    background-color: rgb(36, 36, 36);
    margin: 20px;
    padding: 20px;
}

section .cards .text-card h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

section .cards .text-card a:link{
  color:rgb(0, 255, 255);
}
section .cards .text-card a:visited{
  color:rgb(0, 255, 21);
}

.revealB{
    overflow-x: hidden;
    position: relative;
    transform: translateY(250px);
    opacity: 0;
    transition: all 1s ease;
}

.revealB.active{
    transform: translateY(0px);
    opacity: 1;
}

.revealL{
    overflow-x: hidden;
    position: relative;
    transform: translateX(250px);
    opacity: 0;
    transition: all 1s ease;
}

.revealL.active{
    transform: translateX(0px);
    opacity: 1;
}

.revealR{
    overflow-x: hidden;
    position: relative;
    transform: translateX(-250px);
    opacity: 0;
    transition: all 1s ease;
}

.revealR.active{
    transform: translateX(0px);
    opacity: 1;
}

.ptext {
  position: absolute;
  top: 70%;
  width: 100%;
  text-align: center;
  font-size: 27px;
  letter-spacing: 9px;
}
.ptext2 {
  position: absolute;
  top: 80%;
  width: 100%;
  text-align: center;
  font-size: 22px;
  letter-spacing: 9px;
}

.pimg1 {
  position: relative;
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg2 {
  position: relative;
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg3 {
  position: relative;
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg4 {
  position: relative;
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("../images/abstract2.jpg");
  min-height: 100%;
}

.pimg2 {
  background-image: url("../images/abstract1.jpg");
  min-height: 100%;
}

.pimg3 {
  background-image: url("../images/desertNight.jpg");
  min-height: 100%;
}

.pimg4 {
  background-image: url("../images/nightRoad.jpg");
  min-height: 100%;
}


section#home{
    background: rgb(216, 216, 216);
    overflow-x: hidden;
}
.imgContain{
  padding-top: 20vh;
  z-index: 1000;
}
.imgContain img{
  border-radius: 50%;
  border: 2px solid #333;
}


.portait{
  padding: 0px 40px 40px 40px;
  margin-right: 50vw;
}
.portait img{
  box-shadow: -10px 10px 10px rgb(0, 0, 0, .8);
  height: 450px;
  width: 325px;
}
.para{
  display: flexbox;
  font-size: 18px;
  margin-top: 100px;
  padding: 20px;
  background-color: rgb(0, 0, 0);
}
.abtBox{
  display: flex;
}
.boxer{
  padding: 50px;
}

section#contact{
  justify-content: center;
}
section#contact h2{
  font-family: 'Kaushan Script', sans-serif;
  background: -webkit-linear-gradient( #8a2387, #e94057, #f27121);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0px;
}

#aboutPIC{
  padding: 10px;
}

@media screen and (max-width: 1000px) {
  #aboutPIC{
    display: none;
  }
  #seniorPhotoRev{
    display: none;
  }
  #about .para{
    margin-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  section#projects{
    height: 200vh;
  }
  section .cards{
    flex-direction: column;
  }
  section#about{
    display: flex;
  }
}


/*Form*/
.box{
  position: relative;
  display: grid;
}
.formG{
  z-index: 999;
  background: rgba(150, 151, 151, 0.452);
  border-radius: 5%;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 20vw;
  margin-right: 20vw;
}

.formBox{
  padding-top: 0px;
  position: relative;
  width: 100%;
  color: black;
}

.formBox .row50{
  display: flex;
  gap: 20px;
}

.inputBox{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formBox .row100 .inputBox{
  display: flex;
  width: 100%;
}

.row100{
  display: flex;
}

.inputBox span{
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}
.inputBox input{
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
}
.inputBox textarea{
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 200px;
  margin-bottom: 10px;
}
.inputBox input[type="submit"]{
  border-radius: 10px;
  background: rgb(51, 74, 96);
  color:#f4f4f4;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
}
.inputBox ::placeholder{
  color: #999;
}

@media screen and (max-width: 1000px) {
  .box{
    display: flex;
    flex-direction: column;
  }
  .formBox .row50 .row100 .inputBox{
    flex-direction: column;
  }
}
